/**
 * @description Style for the Login module.
 * @author Ethan Crist
 **/

/* GLOBAL */
.__narrownode-login-plugin-center-children {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.__narrownode-login-plugin-center-children * {
    box-sizing: border-box;
}
.__narrownode-login-plugin-no-select {
      -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome and Opera */
}

/* ANIM */
@keyframes __narrownode_login_plugin_fade_in_opacity {
	0% { opacity: 0 }
	100% { opacity: 1 }
}
.__narrownode-login-plugin-fade-in {
    opacity: 1;
	animation-name: __narrownode_login_plugin_fade_in_opacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-duration: 0.3s;
}


/* SPECIFIC */
#__narrownode-login-plugin {
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 85vh;
}
#__narrownode-login-plugin-background {
    z-index: 10000;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
#__narrownode-login-plugin-content {
    z-index: 100001;
    position: relative;
    background-color: white;
    border: 2px solid black;
    width: 500px;
    height: 300px;
    transition: all 0.2s ease-in-out;
}
#__narrownode-login-plugin-content.__narrownode-login-plugin-tab-register {
    transition: all 0.2s ease-in-out;
    height: 515px;
}
#__narrownode-login-plugin-area {
    transition: all 1s ease-in-out;
}
#__narrownode-login-plugin-head {
    z-index: 100002;
    position: relative;
    height: 31px;
    margin: 5px;
}
#__narrownode-login-plugin-close {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    font-size: 12px;
}
#__narrownode-login-plugin-head span {
    width: 100%;
    font-family: "Courier New";
    font-weight: bold;
}
.__narrownode-login-plugin-tab-register {
    display: none;
}
#__narrownode-login-plugin-tab-login,
#__narrownode-login-plugin-tab-register {
    color: #ccc;
    display: inline-flex;
    font-weight: bold;
    margin: 0 12px;
}
#__narrownode-login-plugin-tab-login:hover,
#__narrownode-login-plugin-tab-register:hover {
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    color: black;
}
#__narrownode-login-plugin-tab-login.__narrownode-login-plugin-active,
#__narrownode-login-plugin-tab-register.__narrownode-login-plugin-active {
    text-decoration: underline;
    color: black;
}
#__narrownode-login-plugin-login-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 0 110px;
}
#__narrownode-login-plugin-response {
    display: none;
    border: 1px solid black;
}
#__narrownode-login-plugin-response,
#__narrownode-login-plugin-login-area input {
    padding: 7px;
    margin-bottom: 15px;
}
#__narrownode-login-plugin-captcha {
    margin-bottom: 0 !important;
}
#__narrownode-login-plugin-captcha-wrapper {
    margin-bottom: 15px;
    border: 1px solid lightgray;
    border-radius: 5px;
    border-top: 0;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
}
#__narrownode-login-plugin-response,
#__narrownode-login-plugin-login-area input,
#__narrownode-login-plugin-login-area button,
.__narrownode-login-plugin-tab-register svg,
#__narrownode-login-plugin-captcha-wrapper {
    width: 100%;
    height: 38px;
}
#__narrownode-login-plugin-login-area button:disabled {
    cursor: auto;
}
.__narrownode-login-plugin-response-SUCCESS {
    border-color: darkgreen;
    background: lightgreen;
    color: darkgreen;
}
.__narrownode-login-plugin-response-INFO {
    border-color: darkblue;
    background: lightblue;
    color: darkblue;
}
.__narrownode-login-plugin-response-WARNING {
    border-color: orange;
    background: lightyellow;
    color: orange;
}
.__narrownode-login-plugin-response-ERROR {
    border-color: darkred;
    background: pink;
    color: darkred;
}
